/*
 * tag's common style
 * ========================================
 */

html, body {
    height: 100%;
    min-height: 500px;
    min-width: 900px;
}

body {
    font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: 20px;
}

/*
 * header style
 * ========================================
 */

/* 出现滚动条后，背景色显示不全 */
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: deepskyblue;
    z-index: 1000;

    color: #ffffff;
    font-size: 25px;
    font-style: italic;
    line-height: 50px;
    text-indent: 1em;
    /*padding-left: 20px;*/     /* 用这个会导致出现横向滚动条，因为header不是border-box */
}


/*
 * common style
 * ========================================
 */
a {
    display: inline-block;
    width: 100%;
    padding: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

a:hover,
#task-filter span:hover,
.active {
    background-color: #C6E3FE;
}

.task-done-filter-btn {
    padding: 5px;
}

.column {
    /* header height + 15px */
    padding-top: 65px;
    /* add-button height + 5px */
    padding-bottom: 45px;
    box-sizing: border-box;
    position: relative;
    height: 100%;
}

.add {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: dodgerblue;
    padding: 12px 0;
    box-sizing: border-box;
}

.add-icon {
    margin: 0 20px 0 20px;
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url("../img/16/0267-plus.png");
    vertical-align: middle;
}

.add span {
    font-size: 15px;
    vertical-align: middle;
    display: inline-block;
}

#main {
    height: 100%;
}
/*
 * category style
 * ========================================
 */

#category-container {
    float: left;
    border-right: 1px solid #AAAAAA;
    width: 300px;
}

#category-list {
    overflow-x: hidden;
    overflow-y: scroll;
    /*padding-left: 20px;*/
    padding-right: 20px;
    height: 100%;
}

/*
 * task style
 * ========================================
 */
#task-container {
    border-right: 1px solid #AAAAAA;
    float: left;
    width: 300px;
}

#task-filter {
    text-align: center;
}

#task-filter span {
    display: inline-block;
}

#task-list {
    height: 95%;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-left: 20px;
    padding-right: 20px;
}

/*
 * detail style
 * ========================================
 */
#detail-container {
    margin-left: 600px;
    padding-bottom: 0;
    padding-left: 10px;
}

.detail-title-container {
    border-bottom: 1px solid #AAAAAA;
    padding: 10px 0;
    min-height: 30px;
}

.detail-title-container button {
    float: right;
    margin-right: 10px;
}

.detail-date-container {
    border-bottom: 1px solid #AAAAAA;
    padding: 10px 0;
    min-height: 20px;
}

.detail-content-container {
    padding: 10px 0;
}

.detail-content-container {
    line-height: 150%;
}

.detail-title-container span {
    vertical-align: middle;
}

.btn {
    margin-right: 20px;
    float: right;
    display: inline-block;
    width: 32px;
    height: 32px;
}

#btn-finish {
    background-image: url("../img/32/0273-checkmark.png");
}

#btn-edit {
    
    background-image: url("../img/32/0007-pencil2.png");
}

#detail-title-content {
    display: inline-block;
    font-weight: bold;
    font-size: 25px;

}

pre {
    white-space: pre-wrap;
    width: 100%;
}

.task-done a {
    text-decoration: line-through;
    color: #AAAAAA;
}


/*********** dialog ***************/
textarea {
    resize: none;
}

.dialog-container {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.dialog-content-container {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -150px auto 0 -200px;;
    width: 400px;
    height: 300px;
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
}

.dialog-content label {
    display: block;
    margin: 20px 0 0 20px;
}

.dialog-content label span {
    vertical-align: top;
}

.dialog-content h2 {
    text-align: center;
}

.dialog-btn {
    padding: 20px;
    text-align: center;
}

