/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
 * common style
 */

/* todo 需要总结一下：两个元素间的相对边界，元素高度宽度计算（是由子元素还是父元素决定）*/

/* todo 加上注释说明都表示的什么样式 */

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

/* 页面的内容部分 居中 */
.page-content-box {
    width: 980px;
    margin: 0 auto;
}

/***************************/
header {
    background-color: #581C5B;
}

header div {
    height: 80px;
    position: relative;
}

.logo {
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 5px;
}

@media (min-width: 1080px) {
    .github-logo {
        display: inline;
        float: right;
        margin-top: -32px;
        margin-right: 10px;
    }
}

@media (max-width: 1080px) {
    .github-logo {
        display: none;
    }
}

header nav {
    font-size: 0; /*这个是去掉a标签之间回车造成的的空白*/
    float: right;
    position: absolute;
    bottom: 5px;
    right: 0;
}

/* todo 注意字体family的设置，text-decoration不能继承，要设置到直接效果元素上 */
nav a {
    color: #ffffff;
    text-decoration: none;
    font: 14px STSong, Simsun, sans-serif;
    margin-left: 28px;
}

/*******************************/
/* todo overflow:hidden 和 clearfix的区别？ */
footer {
    color: #ffffff;
    background-color: #000;
}

footer nav {
    text-align: center;
    font-size: 0;
    padding: 12px 0;
    border-bottom: 1px solid gray;
}

footer nav a {
    margin: 0 35px 0 0;
    text-decoration: none;
}

footer > div {
    padding-bottom: 50px;
}

.footer-link-column {
    float: left;
    width: 196px;
}

.footer-link-column h2 {
    margin: 40px 0 30px 0;
}

.footer-link-column li {
    padding-bottom: 5px;
}

div#copyright {
    text-align: center;
    padding: 0;
}

div#copyright a {
    display: inline-block;
}

div#copyright h2 {
    font-size: 10px;
    margin: 0 0 10px 0;
}


/******************************/
div.aside-search-box {
    padding: 20px;
}

div.search-box {
    border: 1px solid #cccccc;
    padding: 0;
}

div.search-box form {
    float: left;
}

div.search-box input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    height: 42px;
    border: 0;
    float: left;
    padding: 0;
}

input.search-button {
    color: #ffffff;
    font-size: 20px;
    width: 42px;
}

input#search-text {
    font-size: 25px;
    width: 176px;
}

